# ZenDNS .gitignore
# -------------------
# Logs, envs, compiled
__pycache__/
*.log
*.sqlite
*.pyc

# Env
.env

# Node
node_modules/
dist/

# Vite cache
.vite

# Editor & OS
.DS_Store
.idea/
.vscode/

# Docker
*.tar
*.pid
dns_logs.db

# Output bundles
*.zip
*.tgz

# Coverage / test
.coverage
coverage/
pytest_cache/
