[Desktop Entry]
Name=ZenDNS DNS Changer
Exec=sh -c 'chmod +x /usr/local/bin/zendns-dns-changer && /usr/local/bin/zendns-dns-changer'
Icon=utilities-terminal
Terminal=true
Type=Application
Categories=Network;
